{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
    </head>

    <body>

        <header>
            <div class="top">
                <a href="/" class="icon">
                    <img src="{% static 'pages/image/binance-icon/download.png' %}" alt="Binance_icon">
                </a>
                <div class="div-menu-crypto">
                    <div id="overlay" class="overlay"></div>
                    <button id="menuCrypto" class="button-menu-crypto">☰</button>
                    <div id="contentMenuCrypto" class="content-menu">
                        <div class="div-exit-menu-crypto">
                            <button id="ExitMenuCrypto" class="button-menu-exit">➔</button>
                        </div>
                        <div class="list-assets">
                            <div class="assets-cripto">
                                <a id="postDataETH" href="/ethereum">
                                    <img src="{% static 'pages/image/ETH/ethereum.png' %}" alt="ETH_icon">
                                    <p>Ethereum</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            {% block content %}
            <div class="tile-crypto">
                <h1>{{ title }}</h1>
            </div>
            <div>
                <img class="main-icon" src="{% static 'pages/image/BTC/bitcoin-main-image.png' %}" alt="Bitcoin_icon" width="160" height="160">
            </div>
            <div class="main">
                <div class="price-box">
                    <p class="price">$ {{ price }}</p>
                </div>
            </div>
            <div class="text">
                <div class="text-block">
                    {{ body|safe }}
                </div>
            </div>
            {% endblock %}
        </main>

        {% block extra_js %}
        <script src="{% static 'pages/js/menu.js' %}"></script>
        {% endblock %}
    </body>
</html>
