# Ambiente virtual
env/
venv/
__pycache__/

# Arquivos de configuração
*.sqlite3
*.db

# IDE
.idea/
.vscode/
.tool-versions

home/static/home/admin
home/static/home/home
home/static/home/rest_framework
